<h1><%= t('devise.registrations.index.title') %></h1>

<% @users.each do |user| %>
  <p><strong><%= link_to user.name, user_path(user.id) %></strong>
  <% if user != current_user %>
    <% if user.followed_by?(current_user) %>
      <%= link_to t('view.relationship.link.followed'), user_relationships_path(user.id), method: :delete %>
    <% else %>
      <%= link_to t('view.relationship.link.follow'), user_relationships_path(user.id), method: :post  %>
    <% end %>
  <% end %>
<% end %></p>
<br />

<br />
<%= link_to t('view.common.link.back'), books_path %>
