<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <% if user_signed_in? %>
        ようこそ<strong><%= link_to current_user.name, "/users/#{current_user.id}" %></strong>さん！
        <%= link_to t('devise.shared.links.edit_profile'), edit_user_registration_path %> |
        <%= link_to t('devise.shared.links.users'), "/users" %> |
        <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
      <% end %>
    </p>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
